* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    height: 8vh;
    width: 100%;
    background: #333;
    display: flex;
    justify-content: right;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    text-align: center;
}
#particles-js
{
    height:100%;
    background: #262626;
}
