body {
    margin: 0;
    padding: 0;
    height: 100%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-attachment: fixed;
    min-width: 1000px;
}

#particles-js
{
    height: 4750px;
    width: 100%;
    background: #262626;
}

/* =========================================
# Navigation Bar
========================================= */
nav {
    position: absolute;
    height: 8%;
    width: 97%;
    display: flex;
    justify-content: right;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
}

/* ======================================
Profile Box
========================================= */
.ProfileOutline{
    position: relative;
    width: 800px;
    height: 600px;          /* This line influences where the hard bottom line is */
    top: 0;
    left: calc(50% - 400px);
    border-radius: 25px;
    overflow: hidden;
    z-index: 0;
}

.ProfileOutline:after{      /* Remove this at some point */
    content: '';            /* Will have to make another container tho */
    width: 850px;           
    height: 475px;          /* This line influences where the fade is */
    position: absolute;
    left: -25px;
    right: -25px;
    top: -25px;  
    bottom: 0;
    box-shadow: inset 0 0 0 300px rgba(255,255,255,0.4);
    filter: blur(30px);
}

.PicContainer {
    overflow: hidden;
    position:absolute;
    border-radius: 25px;
    left: 40px;
    top: 60px;
    width: 275px;
    height: 350px;
    z-index: 1;
}
.PicContainer img {
    transition: all 0.3s ease-in-out;
}

#ProfilePic {
    width: 275px;
    height: 350px;
    border-radius: 25px;
    z-index: 1;
}

#ProfilePic:hover{
    transform: scale(1.154);
}

#HelloPic{
    position:absolute; 
    left: 300px; 
    top: 55px; 
    height: 210px; 
    width: 200px; 
    z-index: 1;
}

#ProfileTextContainer{
    position:absolute;
    left: 340px;
    top: 110px;
    z-index: 1;
    font-size: 130%;
    line-height: 0%;
}

#QuickInfoQs{
    position: absolute;
    text-align: left;
    top: 90%;
    line-height: 90%;
}

#QuickInfoAs{
    position: absolute;
    top: 90%;
    left: 50%;
    text-align: left;
    line-height: 90%;
    color: #000;
}

.colorful:hover {
    color: rgb(14, 70, 155);
    font-weight: 500;
    transition: 0s;
}

button {
    position: absolute;
    left: 50%;
    border: none;
    border-radius: 10px;
    color: white;
    z-index: 1;
    background-color: rgb(45, 95, 170);
    font-size: 125%;
}

#button1 {
    top: 475px;
    transform: translate3d(-50%, -50%, 0);
}

.button {
    display: block;
    width: 275px;
    height: 65px;
    cursor: pointer;
    transition: box-shadow 0.1s linear;
}

.button:hover {
    box-shadow: 0 10px 0 rgb(48, 89, 151);
  }

/* =========================================
# Middle Section Container
========================================= */

#InfoContainer {
    border-color: #fff;
    position: absolute;
    top: 10%;
    left: calc(50% - 400px);   /* 400 = 800/2 */
    width: 800px;
    height: auto;
    padding: 0 50px 0 50px;
}

/* =========================================
# About Me
========================================= */

.AboutMeOutline{
    position: relative;
    z-index: 0;
    background-color: rgba(255,255,255,0.3);
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 25px;
    overflow-y: visible;
}

.AboutMeOutline p, .AboutMeOutline span {
    font-size: large;
}

.accordion-menu {
	display: inline-block;
    position: relative;
	left: 40%;
    max-width: 80%;
	transform: translate(-50%, 0);
	border-radius: 25px;
    font-size: 90%;
}
div ul {
	list-style: none;
	padding: 0 20px 1px;
    background-color: rgb(163, 163, 163);
	border-radius: 5px;
}
div ul li {
	position: relative;
	padding-top: 1px;
}
ul li .arrow {
	position: absolute;
	transform: translate(-12px, 0);
	margin-top: 30px;
	right: 0;
}

ul li .arrow:before, ul li .arrow:after {
	content: "";
	position: absolute;
	background-color: rgb(45, 95, 170);
	width: 4px;
	height: 18px;
}
ul li .arrow:before {
	transform: translate(-5px, 0) rotate(45deg);
}
ul li .arrow:after {
	transform: translate(5px, 0) rotate(-45deg);
}
ul li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100px;
	height: 100%;
    right: -20px;
    z-index: 1;    
    opacity: 0;

}
ul li input[type=checkbox]:checked ~ p {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
}
ul li input[type=checkbox]:checked ~ .arrow:before {
	transform: translate(5px, 0) rotate(45deg);
}
ul li input[type=checkbox]:checked ~ .arrow:after {
	transform: translate(-5px, 0) rotate(-45deg);
}
.transition, p, ul li .arrow:before, ul li .arrow:after {
	transition: all 0.5s ease-out;
}

/* =========================================
# Skills
========================================= */
.SkillsOutline{
    position: relative;
    margin-top: 10%;
    border-radius: 25px;
    z-index: 0;
    background-color: rgba(255,255,255,0.3);
    padding: 10px 50px 0px;
    overflow-y: visible;
}

.SkillsOutline p {
    text-align: left;
    margin-left: 0px;
    font-size: larger;
}

.skill {
    float: left;
    position: relative;
    margin: 0 0 20px 10px;
    background-color: rgb(146, 146, 146);
    border-radius: 25px;
    border-style: solid;
    border-color: #262626;
    border-width: 1px;
    width: auto;
    height: 40px;
    z-index: 2;

}

.skill img {
    position: relative;
    display: inline;
    width: 25px;
    height: 25px;
    z-index: 1;
    margin: 8px 6px 7px 10px;
}

.skill span {
    font-size: large;
    font-weight: 400;
    position: relative;
    top: -13px;
    left: -10px;
    margin: 10px;
}

/* =========================================
# Timeline
========================================= */
.Timeline {
    position: relative;
    margin-top: 10%;
    z-index: 0;
    background-color: rgba(255,255,255,0.3);
    padding: 10px 50px 25px;
    overflow-y: visible;
    overflow-x: hidden;
    border-radius: 25px;
}
/* Header */
.TimelineHeader {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
}

.TimelineHeader span {
    margin-top: 53px;
    font-size: larger;
    font-weight: bolder;
    /* text-decoration: underline; */
}

.Today {
    position: relative;
    margin: auto;
    width: 75px;
    height: 50px;
    background-color: rgb(48, 89, 151);
    color: #fff;
    border-style: hidden;
    border-radius:25px;
    font-size: large;
}

.Today p {
    color: #262626;
    line-height: 45px;
    font-style: italic;
    font-weight: 600;
}

.Line {
    position: relative;
    margin: auto;
    width: 8px;
    height: 40px;
    background-color: rgba(45, 95, 170,0.4);
    border-style: hidden;
}

/* Footer */
.TimelineFooter {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
    overflow: visible;
}

.Line2 {
    position: absolute;
    left: calc(50% - 4px);
    width: 8px;
    height: 20px;
    top: -35%;
    background-color: rgba(45, 95, 170,0.4);
    border-style: hidden;
}

/* Timeline Middle */
.TimelineEntry {
    position: relative;
    margin: auto;
    width: 100%;
    height: 75px;
    z-index: 1;
}

.centerline {
    position: absolute;
    left: calc(50% - 4px);
    top: -12%;
    width: 8px;
    height: 125%;
    background-color: rgba(45, 95, 170,0.4);
    z-index: 1;
}

.marker {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
    width: 124px;
    z-index: 3;
}

/* Timeline Card */
.Left, .Right{
    position: relative;
    box-sizing: border-box;
    width: 45%;
    height: inherit;
    padding: -5px 0 0 0;
    z-index: 3;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    background-color: rgb(139, 144, 160);
}

.Thin {
    height: 55px;
}

.Left {
    float: left;
    border-right: solid;
    border-width: 30px;
    border-color: rgb(0, 45, 112); 
}

.Right {
    float: right;
    border-left: solid;
    border-width: 30px;
    border-color: rgb(0, 45, 112); 
}

.Left h1, .Right h1 {
    font-size: large;
    text-align: left;
    padding: 0 0 0 15px;
    line-height: 50%;
}

.Left h2, .Right h2{
    font-size: small;
    text-align: left;
    font-style: italic;
    font-weight: normal;
    padding: 0 0 0 15px;
    line-height: 45%;;
}

.Left p, .Right p {
    text-align:justify;
    width: 550px;
    margin: 0 0 0 8%;
}

.img_container {
    white-space: nowrap;
}
.Left img, .Right img {
    width: 200px;
    height: 200px;
}

.OnTop {
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: #262626;
    transition: all 0.3s ease-in-out;
    opacity: 0.0;
    margin: 0 0 0 0;
}

.OnTop img {
    position: relative;
    display: inline-block;
    transform: translate(0%, 25%);
    width: 50px;
    height: 50px;
    z-index: 1;
}

.Thin .OnTop img {
    position: relative;
    display: inline-block;
    transform: translate(0%, 10%);
    width: 50px;
    height: 50px;
    z-index: 1;
}

.OnTop:hover {
    opacity: 1.0;
    background-color: rgba(0, 0, 0, 0.6);
}

/* =========================================
# Resume Page
========================================= */

#ResumeViewer {
    position: absolute;
    left: 10%;
    top: 10%;
}